@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.case-study-page {
  .cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;

    .overlay {
      position: relative;
      background: linear-gradient(180deg, $blog-color-image-from, $blog-color-image-to);
      height: 100%;
    }

    .header {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 50px 20px;
      color: $blog-color-heading;

      h1 {
        margin: 0;
        font-size: 46px;
        font-weight: 300;
      }
    }

    @media (max-width: $screen-xs-max) {
      height: 225px;

      .header {
        padding: 20px;

        h1 {
          font-size: 30px;
        }
      }
    }
  }

  .brand-logo-wide img {
    max-width: 300px;
  }

  .brand-logo-tall img {
    max-height: 80px;
    max-width: 200px;
  }

  .customer-info-section-wrapper {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .customer-case-section-wrapper {
    background-color: $color-white;
  }

  .customer-info-section,
  .customer-case-section {
    .section-content {
      padding: 80px 20px;
    }

    .customer-information,
    .customer-quote {
      padding-left: 50px;
    }

    @media (min-width: $screen-sm-min) {
      .customer-information,
      .customer-quote {
        padding-left: 20px;
      }
    }

    @media (max-width: $screen-xs-max) {
      .section-content {
        padding: 50px 20px;
      }
    }
  }

  .customer-info-section .brand-detail .title,
  .customer-info-section .customer-key-benefits .title,
  .customer-case-section .customer-case-item .title {
    font-size: 16px;
    color: $color-primary;
    line-height: 16px;
  }

  .customer-info-section .customer-key-benefits .list-content,
  .customer-case-section .customer-case-item .contents {
    font-size: 20px;
    color: $text-color-light;
    line-height: 28px;
    font-weight: 400;
  }

  .customer-information {
    svg {
      top: 0;
    }

    .brand-detail {
      margin-top: 30px;

      &:first-of-type {
        margin-top: 10px;
      }
    }

    .subtitle {
      margin-top: 10px;
      color: $color-gray;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
    }
  }

  .customer-key-benefits .benefits-list-item {
    display: table;
    margin-top: 35px;

    &:first-child {
      margin-top: 10px;
    }

    .list-icon,
    .list-content {
      display: table-cell;
    }

    .list-icon {
      font-size: 20px;
      color: $border-color;
      width: 30px;
    }
  }

  .customer-case-item {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }

    .contents {
      margin-top: 10px;
      color: $text-color-light;

      + .contents {
        margin-top: 20px;
      }
    }
  }

  .customer-case-section {
    .quote-wrapper {
      max-width: 75%;
      padding: 10px;
      border-left: 3px solid $color-gray-extra-light;

      .quote-text,
      .quote-author {
        color: $color-primary;
      }

      .quote-text {
        font-size: 28px;
        font-weight: 300;
      }

      .quote-author {
        margin-top: 20px;
        font-size: 20px;
      }

      .quote-author-title {
        font-size: 16px;
        color: $color-gray;
        text-transform: uppercase;
      }
    }

    @media (min-width: $screen-md-min) {
      display: table;

      .customer-quote,
      .customer-result {
        display: table-cell;
        float: none;
      }
    }

    @media (min-width: $screen-sm-min) {
      .customer-quote {
        padding-bottom: 0;

        .quote-wrapper {
          max-width: 100%;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      .customer-quote {
        padding: 50px;
        padding-bottom: 0;

        .quote-wrapper {
          max-width: 100%;
        }
      }
    }
  }
}
